.card{
    margin-top: 620px;
}

#Cheese1{
    margin: 0%;
    position: absolute;
    top: 340px;
    left: 990px;
    transform: rotate(-25deg);
}

#Cheese2{
    margin: 0%;
    position: absolute;
    top: 200px;
    left: 350px;
    transform: rotate(35deg);
}

#Smile{
    margin: 0%;
    position: absolute;
    top: 75px;
    left: 890px;
    transform: rotate(-12deg);
}

body{
    height: 100vh;
    padding-bottom: 400px;
    font-size: larger;
}

#ParmText{
    text-align: center;
    border-radius: 25px;
    border-width: 2px;
    border-color: bisque;
    border-style: solid;
    background-color: bisque;
    color: gray;
    margin-top: 150px;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding: px;
}

#MozzarellaText{
    padding-right: 1000px;
}

#Mozz{
    padding-left: 400px;
    transform: rotate(4deg);
    padding-right: 200px;
}

.SwissPic{
    float: right;
    transform: rotate();
}

#SwissText{
    text-align: left;
    color: brown;
    text-align: center;
    border-radius: 25px;
    border-width: 2px;
    border-color: rgb(240, 196, 19);
    border-style: solid;
    background-color: rgb(255, 221, 87);
}

#CheddarText{

    border-radius: 25px;

    border-color: bisque;
    border-style: solid;
    background-color: white;
}

#CheddarTitle{
    border-radius: 25px;


    padding-left: 50px;
    padding-right: 50px;
}